<h1 align="center">Categories</h1>


<div class="col-xs-8 col-xs-offset-2 center">
    <%= will_paginate %>
    <% @categories.each do|category| %>
        <ul class="listing">
            <div clas="row">
                <div class="well col-md-offset-4 col-md-4">
                    <li class="article-title">
                        <%= link_to "#{category.name}" , category_path(category) %>           
                    </li>
                    <li><small><%= pluralize(category.articles.count, "article") %></small></li>
                    
                </div>
            </div>
        </ul>
    <% end %>
    <%= will_paginate %>
</div>

